-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"

%body
  .Single-Container
    %header.Single-Header
      %h1
      = link_to image_tag "/logo.png",class: "Furima-Logo"
      %nav.Single-Header__Bar
        %ol
          %li.Active-Name
            会員情報
            .Progress-Status.Active.First
          %li.Second
            電話番号認証
            .Progress-Status
          %li.Therd
            完了
            .Progress-Status

              
    %main.Single-Main
      %section.L-Single-Container
        %h2.L-Single-Container__Head 会員情報入力
        = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'L-Single-Container__Form', local: true do |f|
          = devise_error_messages!
          .L-Single-Container__Form__Content
            .Form-Group
              = f.label "nickname", "ニックネーム", class: "Form-Group__Label"
              %span.Form-Group__Require 必須
              = f.text_field "nickname", placeholder: "例) メルカリ太郎", class: "Form-Group__Input", value: ""
            .Form-Group
              = f.label "email", "メールアドレス", class: "Form-Group__Label" 
              %span.Form-Group__Require 必須
              = f.email_field "email", placeholder: "PC・携帯どちらでも可", class: "Form-Group__Input", value: ""
            -#%input{name => "login_type", :type => "hidden", :value => ""}/
            .Form-Group
              = f.label "password", "パスワード", class: "Form-Group__Label"
              %span.Form-Group__Require 必須
              = f.password_field "password", placeholder: "7文字以上の半角英数字", class: "Form-Group__Input"
            .Form-Group
              = f.label "password", "パスワード再入力", class:"Form-Group__Label"
              %span.Form-Group__Require 必須
              %p.Form-Group__Explanation ※確認のためもう一度ご入力ください。
              = f.password_field "encrypted_password", placeholder: "7文字以上の半角英数字", class: "Form-Group__Input"
              -#%p.Form-Group__Imfo
                -#※ 英字と数字の両方を含めて設定してください
              -#.Password-Revelation
                -#.Password-Revelation__Checkbox
                  -#%input.Password-Revelation__Checkbox__Input{type: "checkbox"}/
                  -#%i
                  -#%label.Password-Revelation__Checkbox__Label{for: "reveal_password"} パスワードを表示する
                -#.form-password-revelation-revealed-password-container
                  -#%span.form-password-revelation-revealed-password
            .Form-Group
              %h3.Form-Group__Confirmation 本人確認
              %p.Form-Group__Explanation
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .Form-Group
              %div
                = f.label "family_name_kanji", "お名前(全角)", class:"Form-Group__Label"
                %span.Form-Group__Require  必須
              .Half
                = f.text_field "family_name", placeholder: "例) 山田", class: "Form-Group__Input Half__Right", value: ""
                = f.text_field "first_name", placeholder: "例) 彩", class: "Form-Group__Input Half__Left", value: ""
            .Form-Group
              %div
                = f.label "family_name_kana", "お名前カナ(全角)", class: "Form-Group__Label"
                %span.Form-Group__Require 必須
              .Half
                = f.text_field "familyname_furigana", placeholder: "例) ヤマダ", class: "Form-Group__Input Half__Right", value: ""
                = f.text_field "firstname_furigana", placeholder: "例) アヤ", class: "Form-Group__Input Half__Left", value: ""
            .Form-Group
              = f.label "birthday", "生年月日", class: "Form-Group__Label"
              %span.Form-Group__Require  必須
              %br/
              .Birthday-Wrap
                .Birthday-Wrap__Select
              = raw sprintf(f.date_select(:date, use_month_numbers: true, with_css_classes: "Birthday-Wrap__Form", start_year: 1930, end_year: (Time.now.year + 10), default: Date.new(2020, 1, 1), date_separator: '%s'), '年 ', '月 ') + '日'
              -#.clearfix
            %p.L-Single-Container__Form__Text
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .L-Single-Container__Form__Content
            -#%input{:name => "after_save_callback", :type => "hidden", :value => "/jp/"}/
            -#%input#g-recaptcha-v3{:name => "g_recaptcha_response_v3", :type => "hidden"}/
            -#%input#recaptcha-version{:name => "recaptcha_version", :type => "hidden", :value => "3"}/
            -#%input#g-recaptcha-v3-site-key{:type => "hidden", :value => "6LelCcAUAAAAAGYBvpuT3hj7TOnrIElDM5ZsTuAy"}/
            = f.submit "次へ進む", class: "Btn-Default"
            .Form-Group.Text-Right
              %p
              =link_to "本人情報の登録について", "#", class:"Blue-Character"
              %i.Icon-Arrow-Right
            .Form-Group.Recaptcha-Term
              %p
                This site is protected by reCAPTCHA and the Google
                =link_to "Privacy Policy", "#", class:"Blue-Character"
                and
                =link_to "Terms of Service", "#", class:"Blue-Character"
                apply.
    %footer.Single-Footer
      %nav
        %ul.Clearfix__Footer
          %li
            =link_to "プライバシーポリシー", "#"
          %li
            =link_to "フリマ利用規約", "#"
          %li
            =link_to "特定商取引に関する表記", "#"
      = link_to image_tag "/logo.png", class:"Furima-Logo"
      %p
        %small © FURIMA, Inc.
