!!!

-#アプリバナー部分
%aside.Banner
  .Inner
    %h2.Inner__Title だれでもかんたん、人生を変えるフリマアプリ
    %p.Inner__Text 今すぐ無料ダウンロード！
    .Inner__Icon
      = link_to image_tag "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2016-06-01&kind=iossoftware&bubble=ios_apps", class: "AppleBtn"
      = link_to image_tag "https://play.google.com/intl/ja_jp/badges/static/images/badges/ja_badge_web_generic.png", class: "GoogleBtn"


-#Footer部分
.Footer

  -#リンク集の部分
  %ul.Contents
    %li.Content
      %h2.Content__Head FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）"
        %li
          = link_to "プライバシーポリシー"
        %li
          = link_to "FURIMA利用規約"
        %li
          = link_to "ポイントに関する特約"
    %li.Content
      %h2.Content__Head FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧"
        %li
          = link_to "ブランド一覧"
    %li.Content
      %h2.Content__Head ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド"
        %li
          = link_to "FURIMAロゴ利用ガイドライン"
        %li
          = link_to "お知らせ"

  -#Footerのロゴ部分
  .Footer__Logo
    = link_to image_tag "/logo-white.png"

  %p © FURIMA

